@model nexumApp.Models.FaleConoscoModel

<div class="container-fluid">
    <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">@Model.Nome</dd>

        <dt class="col-sm-3">E-mail</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Assunto</dt>
        <dd class="col-sm-9">@Model.Assunto</dd>

        <dt class="col-sm-3">Mensagem</dt>
        <dd class="col-sm-9">@Model.Mensagem</dd>

        <dt class="col-sm-3 dif">Enviado em</dt>
        <dd class="col-sm-9">@Model.CriadoEm.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">@Model.Status</dd>
    </dl>
</div>